/* contact.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header h1 {
    font-family: "Sofia", sans-serif;
    font-size: 45px;
}

.contact-info {
    text-align: center;
    margin-top: 50px;
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.social-icons {
    text-align: center;
    margin-top: 30px;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 24px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

footer p {
    margin-bottom: 10px;
}

.icons {
    padding: 10px;
    padding-left: 10px;
    text-align: center;
}

.icons i {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

a {
    font-family: 'Brush Script MT, cursive';
    font-size: '10px'
}
